include mixins/navbar
include mixins/footer
div.background
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.sp-container
    +navbar
    .container(style="width:900px;")
        br
        .row-fluid
            .span8.offset2
                div
                    tabset
                        tab(heading="总体情况报告")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#Preface") Preface
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") Analytics
                            div(style="height:100%;")
                                h3.text-center 学生情况统计
                                p 通过丰富图表，直观显示学生情况。
                                .row-fluid
                                    .span6
                                        nvd3-scatter-chart(data="dataModel.scatterPoints", id="scatter",
                                        //-width="600", height="400",
                                        showXAxis="true", showYAxis="true",
                                        tooltips="true",
                                        interactive="true",
                                        margin="{left:20,top:40,bottom:10,right:20}")
                                            svg
                                    .span6
                                        nvd3-pie-chart(data="[dataModel.barChartSeries]", id="pie",
                                        width="400", height="300",
                                        x="dataModel.pieXFunction()",
                                        y="dataModel.pieYFunction()",
                                        tooltips="true",
                                        interactive="true",
                                        margin="{left:0,top:0,bottom:30,right:0}")
                                            svg(style="height:250px;width:400px;")
                                .row-fluid
                                    .span6
                                        nvd3-discrete-bar-chart(data="[dataModel.discreteBarData]", id="dBar",
                                        width="400", height="250",
                                        showXAxis="true", showYAxis="true",
                                        tooltips="true",
                                        interactive="true",
                                        margin="{left:20,top:20,bottom:20,right:0}",
                                        )
                                            svg
                                    .span4
                                        p {{dataModel.discreteBarData}}
                                .row-fluid
                                    .span8
                                        nvd3-line-chart(data="[dataModel.lineChartData]", id="lChart",width="600", height="400", showXAxis="true", showYAxis="true",
                                        tooltips="true",
                                        interactive="true",
                                        margin="{left:50,top:50,bottom:50,right:50}",
                                        )
                                            svg
                                .row-fluid
                                    .span8
                                        nvd3-line-plus-bar-chart(data="[dataModel.lineChartData2,dataModel.Series3]",
                                        id="lineplusbar",width="600",height="400", showXAxis="true", showYAxis="true",
                                        tooltips="true",
                                        interactive="true",
                                        margin="{left:50,top:50,bottom:50,right:50}",
                                        )
                                            svg
                                br
                                h2(id="Preface") 不同科目发展情况柱形图
                                .btn-group
                                    button.btn.btn-primary(type='button', ng-click='getChineseScore()') 语文
                                    button.btn.btn-primary(type='button', ng-click='getMathScore()') 数学
                                    button.btn.btn-primary(type='button', ng-click='getEnglishScore()') 英语
                                br
                                div(ng-controller="ReportVizCtrl")
                                    .viz-wrapper
                                        d3-bar-chart(data='data')
                                br
                                div(ng-controller="StudentVizCtrl")
                                    .viz-wrapper.nofill
                                        d3-line-graph(data='data')
                                div(ng-controller="topicDistroCtrl")
                                    p 显示各知识点的预习，做题，复习，查错时间等
                                    .viz-wrapper
                                        d3-pie-chart(data='data')
                        tab(heading="成绩走势")
                            //.row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#Preface") Preface
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") Analytics
                            div(style="height:100%;", ng-controller="ReportVizCtrl")
                                br
                                h2(id="Preface") 不同科目发展情况柱形图
                                .btn-group
                                  button.btn.btn-primary(type='button', ng-click='getChineseScore()') 语文
                                  button.btn.btn-primary(type='button', ng-click='getMathScore()') 数学
                                  button.btn.btn-primary(type='button', ng-click='getEnglishScore()') 英语
                                br
                                .viz-wrapper
                                  d3-bar-chart(data='data')


                        tab(heading="成绩查询")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#Preface2") 折线图
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter2") 排名变化
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter2") 考点得分折线图
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 个人能力变化
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#ranking") 排名变化
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                            div#ranking(ng-controller="studentvizctrl")
                                //| 学生姓名:
                                //input.input-wrapper(type='text', ng-model='studentname')
                                .viz-wrapper.nofill
                                  d3-line-graph(data='data')
                            div(style="height:100%;")
                                h1 Decoding Learning:
                                h3.text-right The Proof, Promise and Potential of Digital Education
                                br
                                h2(id="Preface2") Preface
                                p This report, published by Pearson and written by the Economist Intelligence Unit, is part of a wide-ranging programme of quantitative and qualitative analysis, entitled The Learning Curve. It seeks to further our understanding of what leads to successful educational outcomes – both economic and social. The design and execution of the programme has benefited from the ongoing advice of some of the world’s leading educational scholars.
                                img(src="/img/Quarterly.jpg")
                                p This report itself outlines the main findings from analysis of a large body of internationally comparable education data – The Learning Curve Data Bank.  It also draws on extensive desk research, as well as in-depth interviews conducted with 16 experts in education. The research was conducted entirely by the Economist Intelligence Unit, and the views expressed in the report do not necessarily reflect those of Pearson. The report was written by Dr Paul Kielstra, and edited by Denis McCauley of the Economist Intelligence Unit.
                                p Sincere thanks go to the interviewees for sharing their insights on this topic. These include the following individuals:
                                h2(id="Chapter2") Chapter 1: Learning with Technology
                                p in this chapter we provide an overview of promising innovations in learning with technology
                                    | . The chapter is organised around the eight learning themes discussed in chapter 1. We
                                    | consider the type of learning that takes place within each theme; we then present examples of
                                    | how technology can support those types of learning. We include a set of case studies that
                                    | provide a snapshot of learning in action.
                                p We highlight those innovations we believe offer the greatest potential,
                                    | drawn from the 124 research and 86 teacher–led examples reviewed.
                                p all the examples quoted are referenced in footnotes. a full list of the innovations ranked
                                    | in the comparative judgement exercise along with additional resources from the report
                                    | can be
                                found online at &nbsp;
                                    a(href="http://www.nesta.org.uk/assets/features/decoding_learning") http://www.nesta.org.uk/assets/features/decoding_learning
                                span .
                        tab(heading="知识点")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#1") 知识点强弱表
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#1") 潜力点
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 时间安排
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 时间安排
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 时间安排
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 时间安排
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                            div(ng-controller="topicDistroCtrl")
                                h2(id="1") 知识点
                                p 显示各知识点的预习，做题，复习，查错时间等
                                .viz-wrapper
                                  d3-pie-chart(data='data')

                                p 显示班级平均时间
                        tab(heading="方法和时间")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#1") 知识点
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Chapter1") 时间安排
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                            div
                                h2(id="1") 知识点
                                p 显示各知识点的预习，做题，复习，查错时间等
                                p 显示班级平均时间
                        tab(heading="班级排名")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#Preface") 班级成绩分布
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 知识掌握情况
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 知识点
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 知识点
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                            div(style="height:100%;")
                                h3 三年级二班排名
                                table.table.table-bordered
                                    thead
                                        tr
                                            th 排名
                                            th 姓名
                                            th 成绩
                                            th 学习精力
                                            th 本周进步
                                    tbody
                                        tr(ng-repeat="(id, student) in classRankFakeData")
                                            td {{id}}
                                            td {{student.lastname + student.firstname }}
                                            td {{student.grade}}
                                            td {{student.effort}}
                                            td {{student.progress}}
                                hr
                                h3 数学学科排名
                                table.table.table-bordered
                                    thead
                                        tr
                                            th 排名
                                            th 姓名
                                            th 成绩
                                            th 学习精力
                                            th 本周进步
                                    tbody
                                        tr(ng-repeat="(id, student) in classRankFakeData")
                                            td {{id}}
                                            td {{student.lastname + student.firstname }}
                                            td {{student.grade}}
                                            td {{student.effort}}
                                            td {{student.progress}}
                                hr
                                h3 语文学科排名
                                table.table.table-bordered
                                    thead
                                        tr
                                            th 排名
                                            th 姓名
                                            th 成绩
                                            th 学习精力
                                            th 本周进步
                                    tbody
                                        tr(ng-repeat="(id, student) in classRankFakeData")
                                            td {{id}}
                                            td {{student.lastname + student.firstname }}
                                            td {{student.grade}}
                                            td {{student.effort}}
                                            td {{student.progress}}
                        tab(heading="学区分布")
                            .row-fluid
                                .span2.sp-reports-sidebar.affix
                                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                                        li
                                            a(href="#Preface") 学区学习情况统计
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 复习时间
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 本周进度
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                                        li
                                            a(href="#Preface") 学生排名
                                                i.icon-chevron-right(style="float:right;line-height:1.4em;")
                            div
                                div.pull-right
                                    iframe(width='425', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%AD%A6%E5%A8%81&aq=&sll=41.833733,-87.731964&sspn=0.856423,1.174164&t=m&ie=UTF8&hq=&hnear=Wuwei,+Gansu,+China&ll=37.974515,102.566299&spn=0.094723,0.145912&z=12&output=embed')
                                        br
                                            small
                                                a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=%E6%AD%A6%E5%A8%81&aq=&sll=41.833733,-87.731964&sspn=0.856423,1.174164&t=m&ie=UTF8&hq=&hnear=Wuwei,+Gansu,+China&ll=37.974515,102.566299&spn=0.094723,0.145912&z=12', style='color: #0000FF; text-align: left;') View Larger Map
                                div
                                    h2 学区卫星校情况统计
                                    p 武威地区第一中学
                                div.pull-right
                                    img(src="")
                                div
                                    h2 复习时间


            .span2
                div
                    img(src="/img/3_large.png").img-rounded.img-polaroid
                div
                    h4 学生
                    input.span12(type="text", placeholder="学生姓名或ID", ng-model="sessionsSearchInput")
                    img(src="/img/1.png", style="margin:5px;")
                    img(src="/img/2.png", style="margin:5px;")
                    img(src="/img/3.png", style="margin:5px;")
                    img(src="/img/4.png", style="margin:5px;")
                hr
                div
                    h4 班级
                    input.span12(type="text", placeholder="班级或数字", ng-model="sessionsSearchInput")
                    alert.alert-success(type="success", close="closeAlert()")
                        | TODO: 在这里显示班级或者课程tag，
                hr
                div
                    h4 学校
                    input.span12(type="text", placeholder="学校名称", ng-model="sessionsSearchInput")
                    alert.alert-info(type="info", close="closeAlert()")
                        | TODO: 在这里显示学校tag，

        +footer
