
div.container(bgcolor='#EEEEEE')
    table
        tbody
            tr
                td
                td.content
                    div.content
                        table
                            tbody
                                tr
                                    td
                                    td.content
                                        div.content
                                            table
                                                tbody
                                                    tr
                                                        td.center
                                                            a(href='http://#{subnet}nantijiazi.com', title='nantijiazi email', target='_blank')
                                                                | 难题夹子
                                                                //-img(src='', border='0', alt='难题夹子', width='142', height='51')
                                    td
                        div
                            div
                                | 亲爱的#{name},
                            div.top-margin
                                | 确认你的邮箱地址，请点击这里：
                            div.hidden
                                | #{dateTime}
                        br
                        br
                        div
                            a.btn(href="http://#{subnet}nantijiazi.com/email/confirmation?code=#{code}&username=#{username}", target='_blank')
                                span.il 点击确认
                                span.il 邮件
                            div.hidden
                                | #{dateTime}
                        br
                        br
                        | 夹子团队，2014年3月
                        div
                            table
                                tbody
                                    tr
                                        td
                                        td.content
                                            div.content(style='color: #a3a4a5; font-size: 14px; text-align: center;')
                                                //-img(src='', height='24', width='22', alt='')
                                                br
                                                br
                                                //-b
                                                    a(href='', style='color: #00b0ff; text-decoration: none;', target='_blank')
                                                        | Download our app
                                                br
                                                br
                                                | 来自充满 ♥ 的夹子办公室
                                                br
                                        td
                            div.hidden
                                | 2014-03-30 11:25:12 +0000
                        br
                        br
                td
        span.hidden ### 难题夹子 ###
        //-img(src='', alt='', width='1', height='1', border='0', style='min-height: 1px !important; width: 1px !important; border-width: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important; margin-right: 0 !important; margin-left: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; padding-right: 0 !important; padding-left: 0 !important;')
