| 难题夹子
| 亲爱的 #{name}, 为了确认你的邮箱地址，请在点击这里:)
| 点击激活：http://#{domain}/email/activate?code=#{code}&username=#{username}&email=#{email}
| 欢迎来到--难题夹子！
| 夹子团队，#{new Date().getFullYear()}年#{new Date().getMonth()+1}月
| 来自充满 ♥ 的夹子办公室
| ### 难题夹子® ###

